.product-details {
  color: rgb(17, 32, 117);
}
.product-details button {
  width: 150px;
  background-color: rgb(228, 172, 20);
  height: 30px;
  border-radius: 5px;
}
.review-details {
  width: 70%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin-left: 100px;
}
.review-container {
  display: flex;
}
