.product-img img {
  padding: 20px;
}
.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.product-details h2 {
  color: rgb(17, 32, 117);
}
.product-details button {
  width: 150px;
  background-color: rgb(228, 172, 20);
  height: 30px;
  border-radius: 5px;
}
